body{
    text-align: center;
    padding: 50px;
}


a{  
    font-family: 'Dongle', sans-serif;
    font-size: 50px;
    text-decoration: none;
    text-align: center; 
    transition: border-bottom 0.5s ease;
    color: white;
    margin-right: 50px;
}
a:hover{
    border-bottom: 5px solid white;
    color: green;
}

img{
    width: 600px;
    height: 600px;
    border-radius: 20%;
    order: -1;
    
}

.transition{
    display: flex;
    align-items: center;
    justify-content: center;
}
.text-overlay {
    margin-left: 50px; 
}
p{
    font-size: 35px;
    font-family: 'Dongle', sans-serif;
    text-align: center;
    padding: 20px;
    color: white;
}
.bg-box{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    z-index: -99;
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.4)),url(../img/크리스마스.jpg);
    background-size: cover;
}
.text-overlay p a img{
    width: 50px;
    height: 50px;
    margin-left: 60px;
}
.text-overlay p a:hover{
    border-bottom: black;
}