body{
    text-align: center;
    background-color: gray;
    padding: 50px;
    
    
}

a{  
    font-family: 'Dongle', sans-serif;
    font-size: 40px;
    text-decoration: none;
    text-align: center;
    border-bottom: 0.2px solid transparent; 
    transition: border-bottom 0.5s ease;
    color: white;
    
}
a:hover{
    border-bottom: 5px solid #000;
    color: black
}
#tour{
    width: 820px;
    display: flex;
    flex-wrap: wrap;
    padding-right: 50px;
    
}

img{
    width: 400px;
    height: 400px;
    order: -1;
    margin-right: 10px;
    border-radius: 20%;
    margin-bottom: 10px;

}

section{
    display: flex;
    justify-content: center;
    align-items: center;
}
#camp{
    width: 550px;
    font-family: 'Dongle', sans-serif;
    font-size: 35px;
    
}
.camping{
    position:absolute;
    width:400px;
    height: 400px;
    text-align:center;
    color:pink;
    opacity:0;
    background:rgba(0,0,0,.5);
    transition: .2s;
    border-radius: 20%;
    margin-top: -415px;
    
    
}
#tour div:hover .camping{
    opacity:1;
    transform: translateY(220);

}
li{
    list-style: none;
    position: relative; 
    float: center;
    padding: 0;
    overflow: hidden;
    
}






