
body{
    text-align: center;
    background-color: tan;
    padding: 50px;
}
.bg-box{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    z-index: -99;
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.2)),url(../img/캠핑.jpg);
    background-size: cover;
}

a{  
    font-family: 'Dongle', sans-serif;
    font-size: 50px;
    text-decoration: none;
    text-align: center;
    border-bottom: 0.2px solid transparent; 
    transition: border-bottom 0.5s ease;
    color: white;
    margin-right: 50px;
    
}
a:hover{
    border-bottom: 5px solid white;
    color: tan;
}
#tour{
    width: 820px;
    display: flex;
    flex-wrap: wrap;
    padding-right: 50px;
    
}

img{
    width: 400px;
    height: 400px;
    order: -1;
    margin-right: 10px;
    border-radius: 20%;
    margin-bottom: 10px;

}

section{
    display: flex;
    justify-content: center;
    align-items: center;
}
#camp{
    width: 550px;
    font-family: 'Dongle', sans-serif;
    font-size: 35px;
    color: white;
}
.camping{
    position:absolute;
    width:400px;
    height: 400px;
    text-align:center;
    color:pink;
    opacity:0;
    background:rgba(0,0,0,.5);
    transition: .2s;
    border-radius: 20%;
    margin-top: -415px;
    box-shadow: 19px 19px 14px -8px darkgreen;

    
}
#tour div:hover .camping{
    opacity:1;
    transform: translateY(0px);

}
li{
    list-style: none;
    position: relative; 
    float: center;
    padding: 0;
    overflow: hidden;
    
}







